@font-face {
	font-family: BoxedRound;
	src: url("fonts/BoxedRoundSemibold.ttf");
}

body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.menu {
    width: 17vw;
    top: 50%;
    left: 9%;
    padding-bottom: 7px;
    transform: translate(-50%, -50%);

    position: absolute;
    flex-direction: column;
    display: none;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
}

.menu .buttons {
    color: #ffffff;
    position: relative;
    margin-top: 20%;
    width: 100%;
    border: none;
    text-align: center;
    overflow: hidden;
    max-height: 50vh;
}

.menu .header {
    position: absolute;
    background-color: rgb(39, 78, 223, 0);
    top: 0;
    width: 100%;
    height: 6vh;
    border-radius: 10px;
}

.menu .header .title {
    position: relative;
    /* left: 10px; */
    width: 100%;

    /*width: 15vw;*/

    text-align: center;
    font-weight: 900;
    color: #ffffff;

    margin: 0;
    top: 11%;

    font-size: 4vh;
    font-family: BoxedRound;
}

.menu .button {
    position: relative;
    display: flex;
    margin-top: 7px;
    margin-bottom: 9.75px;

    background-color: rgba(255, 255, 255, 0.063);
    left: 2.5%;
    width: 95%;
    height: 50px;
    font-family: BoxedRound;
    font-size: 1.3rem;
    color: white;
    border-radius: 7px;
}

.menu .button p {
    position: relative;
    bottom: 11.5px;
    left: 10px;
}

.prompt {
    border-radius: 15px;
    position: fixed;
    width: 25vw;
    height: 30vh;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   

    display: none;
}

.prompt .header {
    position: absolute;
    border-radius: 15px;
    width: 100%;
    height: 110%;
    background-color: rgb(29, 26, 26);
}

.prompt .header .title {
    font-size: 1.9vw;
    color: white;
    font-family: BoxedRound;
    font-weight: 300;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.prompt .input {
    text-align: center;
    font-size: 1.22vw;
    font-family: BoxedRound;
    font-weight: 100;
    color:rgb(244, 244, 244);
    position: absolute;
    top: 20%;
    width: 85%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.063);
    border: none;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    resize: none;
}

.prompt .input:focus {
    outline: none;
}

.prompt .cancel, .prompt .submit {
    border: none;
    border-radius: 8px;
    position: absolute;
    top: 84%;
    width: 40%;
    height: 20%;
    font-family: BoxedRound;
    font-weight: 300;
    font-size: 40px;
    color: white;
}

.prompt .cancel, .prompt .submit:hover {
    cursor: pointer;
}

.prompt .cancel {
    background-color: rgb(255, 68, 90);
    left: 8%;
    font-size: 2vw;
}

.prompt .submit {
    background-color: #28A745;
    right: 8%;
    font-size: 2vw;
}

.prompt .cancel:hover {
    background-color: rgb(240, 30, 54);
}

.prompt .submit:hover {
    background-color: #2d7d40;
}

.prompt .cancel:active {
    background-color: rgb(197, 25, 45);
}

.prompt .submit:active {
    background-color: #226130;
}